@charset "UTF-8";
.bg-white {
  background-color: white;
}

.bg-faded {
  background-color: #f2f2f2;
}

.nav-bar {
  height: 48px;
  border-bottom: 1px solid #f1f1f1;
}
@media (max-width: 767px) {
  .nav-bar .container-wider {
    padding: 0 15px;
  }
}
.nav-bar > .container-wider {
  padding-bottom: 0;
}
.nav-bar .nav-bar-logo {
  width: 40px;
}
.nav-bar .nav-bar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-bar .nav-bar-nav .nav-item {
  display: inline-block;
  margin-left: 30px;
}
.nav-bar .nav-link {
  color: #777;
  text-decoration: none;
}
.nav-bar .nav-link:hover {
  color: black;
}
.nav-bar .notification .notification-count {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #006700;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  text-align: center;
  padding: 0 4px;
  position: relative;
  top: -9px;
}

#menu-toggle {
  margin-left: 15px;
}

.fa-bell-o,
.fa-search,
.fa-chevron-right,
#menu-toggle {
  font-size: 18px;
}

.list-group {
  border: 1px solid #f1f1f1;
}
.list-group .list-group-item {
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
}

.card {
  padding: 15px;
  border: 1px solid #f1f1f1;
}
.card .card-header {
  border-bottom: 1px solid #f1f1f1;
  margin: -15px -15px 0 -15px;
  padding: 10px;
}
.card .card-image {
  margin: -15px -15px -15px -15px;
}
.card .card-image img {
  width: 100%;
  max-width: 100%;
}

.list-inline {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.list-inline .list-inline-item {
  display: inline-block;
}

.dot-divider > * {
  float: left;
}
.dot-divider > *:not(:last-child):after {
  margin: 0 5px;
  content: '·';
}

.post-items a {
  color: #777;
  text-decoration: none;
}
.post-items a:hover {
  color: black;
}
.post-items .post-items-header {
  padding: 7px 15px;
}
.post-items .post-items-header .rss i {
  margin-right: 5px;
}
.post-items .post-items-nav li {
  margin-right: 15px;
  color: #777;
  text-decoration: none;
}
.post-items .post-items-nav li:hover {
  color: black;
}

.post-item .post-item-meta .pinned {
  color: red;
}
.post-item .post-item-meta .pinned:hover {
  color: #ff8080;
}
.post-item .post-item-meta .recommended {
  color: #b71ed7;
}
.post-item .post-item-meta .recommended:hover {
  color: #dc86ee;
}
.post-item .post-item-title {
  font-size: 18px;
}
.post-item .post-item-title a {
  color: #333;
}
.post-item .post-item-title a:hover {
  text-decoration: underline;
}
.post-item .post-item-excerpt {
  margin-top: 7px;
}
.post-item .post-item-excerpt p {
  margin-top: 0;
}
.post-item .post-item-cover {
  width: 60px;
  margin-left: 30px;
}

.donate .donate-qr-code {
  margin-top: 0;
}

.ad {
  position: relative;
}
.ad .ad-reminder {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0 3px;
  border: 1px solid #fff;
  font-size: 10px;
  color: #fff;
  border-radius: 3px;
}

.table-of-content {
  margin-top: 15px;
  list-style: none;
  margin-left: 7px;
  padding-left: 7px;
}
.table-of-content li {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}
.table-of-content li ul {
  margin-left: 15px;
}

.toc-sidebar-tutorial {
  height: 100%;
}

@media (max-width: 767px) {
  .toc-sidebar {
    position: fixed;
    width: 70%;
    height: 100%;
    left: -70%;
    top: 0;
    margin-top: 0 !important;
    background-color: RGB(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
}
.tool-bar a {
  border: 1px solid #f1f1f1;
  float: left;
  padding: 0 7px;
}
.tool-bar a:last-child {
  border-left: none;
}
.tool-bar a:hover {
  background-color: #f2f2f2;
}

.back-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 1px solid #ddd;
  padding: 0 5px 3px 5px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #777;
  text-decoration: none;
}
.back-top:hover {
  color: black;
}

@media (max-width: 767px) {
  .back-top {
    bottom: 15px;
    right: 15px;
  }
}
.post .post-meta {
  margin-top: 7px;
}
.post .post-tags {
  margin-top: 30px;
}
.post .post-tags li {
  margin-right: 7px;
}
.post .post-tags a {
  text-decoration: none;
  color: #777;
  border: 1px solid #f1f1f1;
  background-color: #f2f2f2;
  padding: 2px 7px;
}
.post .post-tags a:hover {
  background-color: #b3b3b3;
}

.comment-area .login-panel {
  border: 1px solid #f1f1f1;
  padding: 30px 0;
}
.comment-area .login-panel .social-icons {
  margin-top: 7px;
}
.comment-area .login-panel .social-icons span:not(:last-child) {
  margin-right: 7px;
}
.comment-area .login-panel .social-icons span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 26px;
  border-radius: 50%;
}
.comment-area .login-panel .social-icons .weixin {
  border: 1px solid #7bc549;
}
.comment-area .login-panel .social-icons .weixin a {
  color: #7bc549;
}
.comment-area .login-panel .social-icons .weibo {
  border: 1px solid #ff763b;
}
.comment-area .login-panel .social-icons .weibo a {
  color: #ff763b;
}
.comment-area .login-panel .social-icons .qq {
  border: 1px solid #333;
}
.comment-area .login-panel .social-icons .qq a {
  color: #333;
}
.comment-area .login-panel .social-icons .github {
  border: 1px solid #2680d9;
}
.comment-area .login-panel .social-icons .github a {
  color: #2680d9;
}
.comment-area .comment-form textarea {
  padding: 10px;
  height: 120px;
}
.comment-area .comment-list > div {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 15px;
}
.comment-area .comment-list > div:last-child {
  border-bottom: none;
}
.comment-area .comment-list .comment-avatar {
  width: 48px;
  border-radius: 4px;
}
.comment-area .comment-list .comment-main {
  padding-left: 7px;
  padding-bottom: 15px;
}
.comment-area .comment-list .comment-main .master {
  color: red;
}
.comment-area .comment-list .comment-main:hover .edit {
  display: inline;
}
.comment-area .comment-list .comment-footer a {
  text-decoration: none;
}
.comment-area .comment-list .comment-footer a:hover {
  color: black;
}
.comment-area .comment-list .comment-footer .edit {
  display: none;
}
.comment-area .comment-list .comment-descendant-list {
  padding-left: 7px;
}
.comment-area .comment-list .comment-descendant-list > div {
  padding-top: 15px;
  border-top: 1px solid #f1f1f1;
}
.comment-area .comment-list .comment-descendant-list .comment-avatar {
  width: 36px;
}

.notification-list .notification-list-header {
  padding: 7px 15px;
}
.notification-list .notification-list-header a {
  color: #777;
  text-decoration: none;
  margin-left: 15px;
}
.notification-list .notification-list-header a:hover {
  color: black;
}
.notification-list .notification-avatar {
  width: 48px;
  border-radius: 50%;
}
.notification-list .notification-main {
  padding-left: 15px;
}

.notification-meta {
  margin-top: 5px;
}
.notification-meta div > i,
.notification-meta div > time,
.notification-meta div > a {
  margin-right: 7px;
}

.unread {
  background-color: #ffffe6;
}

.search-form {
  margin-right: 25px;
}
.search-form input[type=search] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  outline: 0;
  line-height: 1.25;
  font-size: 80%;
  padding-bottom: 5px;
  width: 200px;
  margin-right: 7.5px;
}
.search-form input[type=search]:focus {
  border-bottom: 1px solid black;
}
.search-form button[type=submit] {
  color: #777;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  padding: 0;
}
.search-form button[type=submit]:hover {
  color: black;
}
.search-form button[type=submit]:focus {
  border: 0;
  outline: 0;
}
@media (max-width: 767px) {
  .search-form {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    padding: 0 15px;
  }
  .search-form input[type=search] {
    width: 100%;
    font-size: 16px;
  }
}

.menu {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  color: #777;
  padding: 16px 0;
  position: absolute;
  top: 48px;
  transform: scale(0);
  transition: transform 0.2s;
  z-index: 96;
}
.menu.show {
  transform: scale(1);
}
.menu.menu--right {
  transform-origin: top right;
}
.menu.menu--left {
  transform-origin: top left;
}
.menu li {
  display: block;
  min-height: 32px;
  line-height: 16px;
  margin: 8px 0;
  padding: 0 16px;
  width: 100%;
}
.menu li.menu-separator {
  background: #eee;
  height: 1px;
  min-height: 0;
  margin: 12px 0;
  padding: 0;
}
.menu li.menu-separator:hover {
  background: #eee;
}
.menu li:first-child {
  margin-top: 0;
}
.menu li:last-child {
  margin-bottom: 0;
}
.menu li:hover {
  background: #eee;
}
.menu a {
  color: inherit;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
}
.menu a:hover {
  color: #444;
}

@media (max-width: 767px) {
  .container-wider {
    padding: 0 0;
  }
}
.mr {
  margin-right: 15px;
}

.musk {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.tutorial-card {
  margin-bottom: 15px;
}
.tutorial-card h6 {
  padding-top: 5px;
}
.tutorial-card .tutorial-meta {
  margin-top: 7px;
}
.tutorial-card .tutorial-meta .state {
  float: right;
  color: red;
}

/*# sourceMappingURL=blog.css.map */
