@charset "UTF-8";
.bg-primary {
  background-color: #007bff;
}

.bg-secondary {
  background-color: #868e96;
}

.bg-success {
  background-color: #28a745;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.25rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.25rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.25rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.25rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.25rem !important;
}

.m-5 {
  margin: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 1.5rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 1.5rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 1.5rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 1.5rem !important;
}

.m-6 {
  margin: 1.75rem !important;
}

.mt-6,
.my-6 {
  margin-top: 1.75rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 1.75rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 1.75rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 1.75rem !important;
}

.m-7 {
  margin: 2rem !important;
}

.mt-7,
.my-7 {
  margin-top: 2rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 2rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 2rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 2rem !important;
}

.m-8 {
  margin: 2.25rem !important;
}

.mt-8,
.my-8 {
  margin-top: 2.25rem !important;
}

.mr-8,
.mx-8 {
  margin-right: 2.25rem !important;
}

.mb-8,
.my-8 {
  margin-bottom: 2.25rem !important;
}

.ml-8,
.mx-8 {
  margin-left: 2.25rem !important;
}

.m-9 {
  margin: 2.5rem !important;
}

.mt-9,
.my-9 {
  margin-top: 2.5rem !important;
}

.mr-9,
.mx-9 {
  margin-right: 2.5rem !important;
}

.mb-9,
.my-9 {
  margin-bottom: 2.5rem !important;
}

.ml-9,
.mx-9 {
  margin-left: 2.5rem !important;
}

.m-10 {
  margin: 3rem !important;
}

.mt-10,
.my-10 {
  margin-top: 3rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 3rem !important;
}

.mb-10,
.my-10 {
  margin-bottom: 3rem !important;
}

.ml-10,
.mx-10 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.25rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.25rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.25rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.25rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.25rem !important;
}

.p-5 {
  padding: 1.5rem !important;
}

.pt-5,
.py-5 {
  padding-top: 1.5rem !important;
}

.pr-5,
.px-5 {
  padding-right: 1.5rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 1.5rem !important;
}

.pl-5,
.px-5 {
  padding-left: 1.5rem !important;
}

.p-6 {
  padding: 1.75rem !important;
}

.pt-6,
.py-6 {
  padding-top: 1.75rem !important;
}

.pr-6,
.px-6 {
  padding-right: 1.75rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 1.75rem !important;
}

.pl-6,
.px-6 {
  padding-left: 1.75rem !important;
}

.p-7 {
  padding: 2rem !important;
}

.pt-7,
.py-7 {
  padding-top: 2rem !important;
}

.pr-7,
.px-7 {
  padding-right: 2rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 2rem !important;
}

.pl-7,
.px-7 {
  padding-left: 2rem !important;
}

.p-8 {
  padding: 2.25rem !important;
}

.pt-8,
.py-8 {
  padding-top: 2.25rem !important;
}

.pr-8,
.px-8 {
  padding-right: 2.25rem !important;
}

.pb-8,
.py-8 {
  padding-bottom: 2.25rem !important;
}

.pl-8,
.px-8 {
  padding-left: 2.25rem !important;
}

.p-9 {
  padding: 2.5rem !important;
}

.pt-9,
.py-9 {
  padding-top: 2.5rem !important;
}

.pr-9,
.px-9 {
  padding-right: 2.5rem !important;
}

.pb-9,
.py-9 {
  padding-bottom: 2.5rem !important;
}

.pl-9,
.px-9 {
  padding-left: 2.5rem !important;
}

.p-10 {
  padding: 3rem !important;
}

.pt-10,
.py-10 {
  padding-top: 3rem !important;
}

.pr-10,
.px-10 {
  padding-right: 3rem !important;
}

.pb-10,
.py-10 {
  padding-bottom: 3rem !important;
}

.pl-10,
.px-10 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.fs-0 {
  font-size: 0 !important;
}

.fs-1 {
  font-size: 0.25rem !important;
}

.fs-2 {
  font-size: 0.5rem !important;
}

.fs-3 {
  font-size: 1rem !important;
}

.fs-4 {
  font-size: 1.25rem !important;
}

.fs-5 {
  font-size: 1.5rem !important;
}

.fs-6 {
  font-size: 1.75rem !important;
}

.fs-7 {
  font-size: 2rem !important;
}

.fs-8 {
  font-size: 2.25rem !important;
}

.fs-9 {
  font-size: 2.5rem !important;
}

.fs-10 {
  font-size: 3rem !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-faded {
  color: #b2bac2 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.list-group {
  border: 1px solid #f8f9fa;
}
.list-group .list-group-item {
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid #f8f9fa;
}

.list-inline {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.dot-divider > *:not(:last-child):after {
  content: '·';
  color: #777;
}

.card {
  border: 1px solid #f8f9fa;
}

.card-image {
  width: 100%;
}

.card-header {
  border-bottom: 1px solid #f8f9fa;
  padding: 10px 15px;
}

.card-footer {
  border-top: 1px solid #f8f9fa;
  padding: 10px 15px;
}

.card-body {
  padding: 15px;
}

.nav-bar {
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #f8f9fa;
}
.nav-bar > .container-wider {
  padding-bottom: 0;
}
.nav-bar .nav-bar-logo {
  width: 50px;
}
.nav-bar .nav-bar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-bar .nav-bar-nav .nav-item {
  display: inline-block;
}
.nav-bar .nav-link {
  color: #777;
  text-decoration: none;
}
.nav-bar .nav-link:hover {
  color: #2680d9;
}
.nav-bar .notification-count {
  display: inline-block;
  color: #fff;
  background-color: #17a2b8;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  padding: 0 5px;
  position: relative;
  top: -10px;
}

.post-items a {
  color: #777;
  text-decoration: none;
}
.post-items a:hover {
  color: black;
}
.post-items .post-items-header a {
  color: #777;
  text-decoration: none;
}
.post-items .post-items-header a:hover {
  color: #007bff;
}

.post-item .post-item-title a {
  color: #333;
}
.post-item .post-item-title a:hover {
  text-decoration: underline;
}
.post-item .post-item-cover {
  width: 60px;
}

.donate .donate-qr-code {
  margin-top: 0;
}

.ad {
  position: relative;
}
.ad .ad-reminder {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0 3px;
  border: 1px solid #fff;
  font-size: 10px;
  color: #fff;
  border-radius: 3px;
}

.toc-sidebar ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0 !important;
}
.toc-sidebar ul li:not(:first-child) {
  margin-top: 7px;
}
.toc-sidebar ul li a {
  color: #777;
  text-decoration: none;
  font-size: 14px;
}
.toc-sidebar ul li a:hover {
  color: black;
}
.toc-sidebar ul li ul {
  list-style: none;
  padding-left: 20px;
}
.toc-sidebar ul li ul li {
  margin-top: 7px;
}

@media (max-width: 767px) {
  .toc-sidebar {
    position: fixed;
    width: 70%;
    height: 100%;
    left: -70%;
    top: 0;
    margin-top: 0 !important;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 4;
  }
}
.back-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  background-color: #343a40;
  opacity: 0.5;
  color: #fff !important;
  line-height: 1;
  z-index: 99;
}

@media (max-width: 767px) {
  .back-top {
    right: 20px;
  }
}
.post .post-meta {
  margin-top: 7px;
}
.post .post-tags {
  margin-top: 30px;
}
.post .post-tags li {
  margin-right: 7px;
}
.post .post-tags a {
  text-decoration: none;
  color: #777;
  border: 1px solid #f1f1f1;
  background-color: #f2f2f2;
  padding: 2px 7px;
}
.post .post-tags a:hover {
  background-color: #b3b3b3;
}

.comment-area .comment-descendant-list .comment-avatar {
  width: 36px;
}

.comment-form textarea {
  padding: 10px;
  height: 120px;
}

.comment-avatar {
  width: 48px;
  border-radius: 4px;
}

.comment-main .master {
  color: red;
}

.comment-footer a {
  text-decoration: none;
}
.comment-footer a:hover {
  color: black;
}

.login-panel {
  border: 1px solid #f1f1f1;
}
.login-panel .social-icons span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 26px;
  border-radius: 50%;
}
.login-panel .social-icons .weixin {
  border: 1px solid #7bc549;
}
.login-panel .social-icons .weixin a {
  color: #7bc549;
}
.login-panel .social-icons .weibo {
  border: 1px solid #ff763b;
}
.login-panel .social-icons .weibo a {
  color: #ff763b;
}
.login-panel .social-icons .qq {
  border: 1px solid #333;
}
.login-panel .social-icons .qq a {
  color: #333;
}
.login-panel .social-icons .github {
  border: 1px solid #2680d9;
}
.login-panel .social-icons .github a {
  color: #2680d9;
}

#id_honeypot {
  display: none;
}

.notification-list .notification-list-header {
  padding: 7px 15px;
}
.notification-list .notification-list-header a {
  color: #777;
  text-decoration: none;
  margin-left: 15px;
}
.notification-list .notification-list-header a:hover {
  color: black;
}
.notification-list .notification-avatar {
  width: 48px;
  border-radius: 50%;
}
.notification-list .notification-main {
  padding-left: 15px;
}

.notification-meta {
  margin-top: 5px;
}
.notification-meta div > i,
.notification-meta div > time,
.notification-meta div > a {
  margin-right: 7px;
}

.unread {
  background-color: #ffffe6;
}

.search-form {
  position: relative;
}
.search-form input[type=search] {
  background-color: #f8f9fa;
  outline: 0;
  font-size: 85%;
  padding: 7px 25px 7px 10px;
  width: 250px;
  border: 1px solid #f8f9fa;
  border-radius: 3px;
}
.search-form input[type=search]:focus {
  border: 1px solid #007bff;
}
.search-form button[type=submit] {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 10px;
  padding: 0;
}
.search-form button[type=submit]:focus {
  border: 0;
  outline: 0;
}
@media (max-width: 767px) {
  .search-form {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
  }
  .search-form input[type=search] {
    width: 100%;
    font-size: 16px;
    background-color: #fff;
  }
  .search-form button[type=submit] {
    right: 25px;
  }
}

.menu {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  color: #777;
  padding: 8px 0;
  position: fixed;
  top: 48px;
  transform: scale(0);
  transition: transform 0.2s;
  z-index: 96;
}
.menu.show {
  transform: scale(1);
}
.menu.menu--right {
  transform-origin: top right;
}
.menu.menu--left {
  transform-origin: top left;
}
.menu li {
  display: block;
  min-height: 32px;
  line-height: 16px;
  margin: 8px 0;
  padding: 0 16px;
  width: 100%;
}
.menu li.menu-separator {
  background: #eee;
  height: 1px;
  min-height: 0;
  margin: 12px 0;
  padding: 0;
}
.menu li.menu-separator:hover {
  background: #eee;
}
.menu li:first-child {
  margin-top: 0;
}
.menu li:last-child {
  margin-bottom: 0;
}
.menu li:hover {
  background: #eee;
}
.menu a {
  color: inherit;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
}
.menu a:hover {
  color: #444;
}

@media (max-width: 767px) {
  .container-wider {
    padding: 0 0;
  }
}
.musk {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343a40;
  opacity: 0.9;
  z-index: -1;
}

.pagination a, .pagination span {
  font-size: 16px;
  padding: 0 7px;
}
.pagination .current {
  background-color: #343a40;
  color: #fff;
}

/*# sourceMappingURL=blog.css.map */
