{% extends 'blog/index.html' %}

{% block title %}{{ category.title }} - 追梦人物的博客{% endblock title %}
{% block description %}
    {% if category.description %}
        <meta name="description" content="{{ category.description }}">
    {% endif %}
{% endblock description %}

{% block pagination %}
    {% if is_paginated %}
        <aside class="pagination flex-center">
            <ul class="pagination-bar list-unstyle-inline">
                {% if first %}
                    <li><a href="{{ category.get_absolute_url }}?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a href="{{ category.get_absolute_url }}?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="current"><a
                        href="{{ category.get_absolute_url }}?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>
                {% if right %}
                    {% for i in right %}
                        <li><a href="{{ category.get_absolute_url }}?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                {% endif %}
                {% if last %}
                    <li>
                        <a href="{{ category.get_absolute_url }}?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                    </li>
                {% endif %}
            </ul>
        </aside>
    {% endif %}
{% endblock pagination %}