{% extends 'blog/_post_detail_base.html' %}
{% block related_posts %}
    <div class="top-gap-big card">
        <div class="card-header">相关文章</div>
        <ul class="">
            <li><a href="">前端每周清单半年盘点之 Vue.js 篇</a></li>
            <li><a href="">ES6 变量声明与赋值：值传递、浅拷贝与深拷贝详解</a></li>
            <li><a href="">前端每周清单第 26 期：Node.js 微服务实践，Vue.js 与 GraphQL，Angular 组件技巧，HeadlessChrome
                攻防</a></li>
            <li><a href="">前端每周清单半年盘点之 React 与 ReactNative 篇</a></li>
        </ul>
    </div>
{% endblock related_posts %}