{% extends 'base.html' %}

{% block title %}{{ post.title }} -
    {% if post.category %}{{ post.category.name }} - {% endif %}追梦人物的博客{% endblock title %}
{% block menu_btn %}
    <div class="unit-0 show-on-mobile nav-bar-item" id="menu-btn">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
{% endblock menu_btn %}
{% block flex_wrap %}{% endblock flex_wrap %}
{% block main %}
    <main class="unit-3-4 unit-1-on-mobile">
        <section class="post">
            <article>
                <h1>{{ post.title }}</h1>
                <div class="post-meta text-muted text-small top-gap">
                    <span>{{ post.created_time|timesince }}前</span>
                    <span>字数 {{ post.word_count }}</span>
                    <span>阅读 {{ post.views }}</span>
                    {% comment %}
                    <span>评论 45</span>
                     {% endcomment %}
                </div>
                <div class="post-body top-gap-big">
                    {{ post.body|safe }}
                    {% if post.tags.count %}
                        <div class="tags top-gap-big text-small flex-center">
                            <span class="tag-label"><i class="fa fa-tags" aria-hidden="true"></i></span>
                            <span class="tag-item"><a href="">DJANGO 教程</a></span>
                            <span class="tag-item"><a href="">博客教程</a></span>
                            <span class="tag-item"><a href="">博客教程</a></span>
                        </div>
                    {% endif %}
                    <div class="flex-center top-gap"><span>-- EOF --</span></div>
                </div>
                <footer class="top-gap-big">
                    <section class="share top-gap">
                        <div class="jiathis_style">
                            <span class="jiathis_txt">分享到：</span>
                            <a class="jiathis_button_qzone">QQ空间</a>
                            <a class="jiathis_button_tsina">新浪微博</a>
                            <a class="jiathis_button_tqq">腾讯微博</a>
                            <a class="jiathis_button_weixin">微信</a>
                            <a href="http://www.jiathis.com/share?uid=2128865"
                               class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript">
                            var jiathis_config = {data_track_clickback: 'true'};
                        </script>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2128865"
                                charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </section>
                    <br>
                </footer>
            </article>
            <aside>
                {% if post.is_tutorial %}
                    <section class="tutorial-reminder text-small top-gap-big">
                        本文属于 <span class="tutorial">{{ post.category.name }}</span>，<a
                            href="{{ post.category.get_absolute_url }}">查看该教程全部文章</a>
                    </section>
                {% endif %}
                <section class="pre-next top-gap text-small flex-left units-gap">
                    <div class="unit-1-2">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        {% if previous_post %}
                            <a href="{{ previous_post.get_absolute_url }}">{{ previous_post.title }}</a>{% else %}
                            没有了{% endif %}
                    </div>
                    <div class="unit-1-2 flex-right">
                            <span>
                                {% if next_post %}
                                    <a href="{{ next_post.get_absolute_url }}">{{ next_post.title }}</a>{% else %}
                                    没有了{% endif %}
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </span>
                    </div>
                </section>
            </aside>
        </section>
        <hr>
        <section class="comment-area top-gap-big">
            <!-- UY BEGIN -->
            <script type="text/javascript">
                var uyan_config = {
                    'du': 'zmrenwu.com'
                }
            </script>
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128865"></script>
            <!-- UY END -->
        </section>
    </main>
{% endblock main %}


{% block aside %}
    <div class="musk"></div>
    <aside class="unit-1-4 hide-on-mobile" id="sidebar">
        <section class="">
            <h3>文章目录</h3>
            <div class="text-small table-of-content">
                {{ toc|safe }}
            </div>
        </section>
    </aside>
{% endblock aside %}
{% block script %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.post table').addClass('table');
            function showSidebar() {
                var $sidebar = $('#sidebar');
                $('.musk').fadeIn();
                $sidebar
                    .removeClass()
                    .css({
                        'left': -$sidebar.outerWidth(),
                        'position': 'fixed'
                    })
                    .addClass('sidebar-on-mobile scroll-view')
                    .animate({'left': 0}, 300);
            }

            function hideSidebar() {
                var $sidebar = $('#sidebar');
                $('.musk').fadeOut();
                $sidebar.animate({'left': -$sidebar.outerWidth()}, 300);
            }

            $('#menu-btn').on('click', showSidebar);
            $('.musk').on('click', hideSidebar)
        })
    </script>
{% endblock script %}
