{% extends 'base.html' %}

{% block main %}
    <div class="unit-3-4 unit-1-on-mobile top-gap">
        <div class="bg-white list-group post-items">
            <div class="flex-left list-group-item post-items-header">
                <div class="unit">
                    <ul class="list-inline post-items-nav">
                        <li class="list-inline-item">
                            <a class="text-muted text-small" href="{% url 'blog:index' %}">最新</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted text-small" href="{% url 'blog:popular' %}">热门</a>
                        </li>
                    </ul>
                </div>
                <div class="unit-0">
                    <a class="text-muted text-small rss" href="/all/rss">
                        <i class="fa fa-rss" aria-hidden="true"></i>RSS订阅
                    </a>
                </div>
            </div>
            {% for post in post_list %}
                {% include 'blog/_post_item.html' %}
            {% endfor %}
            {% if is_paginated %}
                {% block pagination %}
                    <div class="flex-center list-group-item">
                        {% include 'blog/_pagination.html' %}
                    </div>
                {% endblock pagination %}
            {% endif %}
        </div>
    </div>
{% endblock %}