{% extends 'base.html' %}

{% block main %}
    <div class="unit-3-4 unit-1-on-mobile top-gap">
        <div class="bg-white list-group post-items">
            <div class="flex-left list-group-item post-items-header">
                <div class="unit">
                    <ul class="list-inline post-items-nav">
                        <li class="list-inline-item"><a class="text-muted text-small" href="">最新</a></li>
                        <li class="list-inline-item"><a class="text-muted text-small" href="">热门</a></li>
                        <li class="list-inline-item"><a class="text-muted text-small" href="">全部</a></li>
                    </ul>
                </div>
                <div class="unit-0">
                    <a class="text-muted text-small rss" href="/all/rss"><i class="fa fa-rss"
                                                                            aria-hidden="true"></i>RSS
                        订阅</a>
                </div>
            </div>
            {% for post in post_list %}
                {% include 'blog/_post_item.html' %}
            {% endfor %}
            <div class="flex-center list-group-item">
                {% include 'blog/pagination.html' %}
            </div>
            {% comment %}
            <div class="list-group-item flex-center">
                <a class="text-muted text-small load-more" href="">加载更多 <i class="fa fa-chevron-down"
                                                                           aria-hidden="true"></i></a>
            </div>
            {% endcomment %}
        </div>
    </div>
{% endblock %}