{% extends 'base.html' %}

{% block title %}{{ category.title }} - 追梦人物的博客{% endblock title %}

{% load blog_tags %}
{% block main %}
    <main class="unit-3-4 unit-1-on-mobile">
        <div class="flex-left flex-wrap units-gap top-gap-big">
            <div class="unit-2-3 unit-1-on-mobile ">
                <figure class="tutorial-cover">
                    <img class="tutorial-cover-img" src="{{ category.cover.url }}" alt="">
                    <div class="tutorial-heading-on-mobile">{{ category.name }}</div>
                </figure>
            </div>
            <div class="tutotial-meta unit-1-3 unit-1-on-mobile">
                <div class="tutorial-heading hide-on-mobile">{{ category.name }}</div>
                <ul class="list-unstyle text-small">
                    <li>状态：<span class="done">{% if category.get_status_display == 'finished' %}已完结{% else %}
                        进行中{% endif %}</span></li>
                    <li>最后更新时间：{{ category.last_modified.last_modified|timesince }}前</li>
                    <li>总阅读量：{{ category.total_views.category_views }}</li>
                    {% if category.resource %}
                        <li><a href="{{ category.resource }}" class="btn text-small" target="_blank">查看 GitHub 仓库</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="top-gap hide-on-mobile text-small">
            简介：{{ category.description }}
        </div>
        <section class="top-gap">
            <ul class="tutorial-headings">
                {% for post in post_list %}
                    <li class="tutorial-heading"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="share top-gap">
            <div class="jiathis_style">
                <span class="jiathis_txt">分享到：</span>
                <a class="jiathis_button_qzone">QQ空间</a>
                <a class="jiathis_button_tsina">新浪微博</a>
                <a class="jiathis_button_tqq">腾讯微博</a>
                <a class="jiathis_button_weixin">微信</a>
                <a href="http://www.jiathis.com/share?uid=2128865"
                   class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript">
                var jiathis_config = {data_track_clickback: 'true'};
            </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2128865"
                    charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </section>
        <br>
    </main>
{% endblock main %}
{% block aside %}
    <aside class="unit-1-4 unit-1-on-mobile">
        {% get_categories as category_list %}
        <section class="recommendation-tutorials">
            <h3 class="hide-on-mobile">更多教程</h3>
            <h6 class="show-on-mobile">更多教程</h6>
            <ul>
                {% for category in category_list %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                {% endfor %}
            </ul>
        </section>
        <section class="tip top-gap hide-on-mobile">
            <h3>小提示</h3>
            <div class="text-muted text-small favorite-tip">按 <span class="favorite-shotcuts">Ctrl + D</span>
                键，把教程加入收藏夹，随时回来阅读
            </div>
        </section>
    </aside>
{% endblock aside %}