.comment-area {
  .comment-descendant-list {
    .comment-avatar {
      width: 36px;
    }
  }
}

.comment-form {
  textarea {
    padding: 10px;
    height: 120px;
  }
}

.comment-avatar {
  width: 48px;
  border-radius: 4px;
}

.comment-main {
  .master {
    color: red;
  }
}

.comment-footer {
  a {
    text-decoration: none;

    &:hover {
      color: darken($color-text-muted, 85%);
    }
  }
}

.login-panel {
  border: 1px solid #f1f1f1;

  .social-icons {
    span {
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height: 26px;
      border-radius: 50%;
    }

    .weixin {
      border: 1px solid #7bc549;
      a {
        color: #7bc549;
      }
    }

    .weibo {
      border: 1px solid #ff763b;

      a {
        color: #ff763b;
      }
    }

    .qq {
      border: 1px solid #333;

      a {
        color: #333;
      }
    }

    .github {
      border: 1px solid #2680d9;

      a {
        color: #2680d9;
      }
    }
  }
}

#id_honeypot {
  display: none;
}