.list-group {
  border: $width-border solid $gray-100;

  .list-group-item {
    padding: $list-group-item-padding-y $list-group-item-padding-x;

    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -$width-border;
    border: $width-border solid $gray-100;
  }
}