.nav-bar {
  height: $height-nav-bar;
  position: fixed;
  left: 0;
  right: 0;

  @include border-bottom();
  @include container-padding-mobile();

  // remove default 15px padding bottom of container
  > .container-wider {
    padding-bottom: 0;
  }

  .nav-bar-logo {
    width: $width-logo;
    margin-right: 15px;
  }

  .nav-bar-nav {
    @include reset-ul;

    .nav-item {
      display: inline-block;
      padding: 0 15px;
      //margin-left: $margin-nav-item;
    }

    .active a {
      color: $color-primary;
    }
  }

  .nav-link {
    @include link-effect($hover-color: $color-primary, $darken: 0);
  }

  //-------- notification count -----------//

  .notification-count {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background-color: $color-primary;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 0 5px;
    position: relative;
    top: -10px;
  }

  .fa-bell-o,
  .fa-sign-in,
  .fa-ellipsis-v,
  #js-search-btn {
    font-size: 20px;
    margin-left: 20px;
  }

  #js-search-btn {
    margin-bottom: 3px;
  }
}