.search-form {
  position: relative;
  input[type=search] {
    background-color: $color-background-faded;
    outline: 0;
    line-height: 1;
    font-size: $font-size-small;
    padding: 7px 25px 7px 10px;
    width: $width-search-input;
    border-radius: 3px;
    border: 1px solid #f1f1f1;

    &:focus {
      border: 1px solid $color-primary;
    }
  }

  button[type=submit] {
    border: 0;
    background-color: transparent;
    padding: 7px 0;
    position: absolute;
    right: 10px;
    line-height: 1;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  @media (max-width: $width-breakpoint - 1px) {
    position: fixed;
    top: $height-nav-bar;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    padding: 0 15px;

    input[type=search] {
      width: 100%;
      font-size: 16px;
    }
  }
}