.donate {
  .donate-qr-code {
    margin-top: 0;
  }
}

.ad {
  position: relative;

  .ad-reminder {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 3px;
    border: 1px solid #fff;
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
  }
}

.toc {
  ul {
    margin-top: 5px;
    padding-left: 0;
    list-style: none;

    li {
      margin-top: 5px;

      a {
        @include link-effect();
      }

      ul {
        padding-left: 30px;
        font-size: 13px;
      }
    }
  }
}

.toc-sidebar-tutorial {
  height: 100%;
}

@media (max-width: $width-breakpoint - 1px) {
  .toc-sidebar {
    position: fixed;
    width: 70%;
    height: 100%;
    left: -70%;
    top: 0;
    margin-top: 0 !important;
    background-color: RGB(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
}
