.donate {
  .donate-qr-code {
    margin-top: 0;
  }
}

.ad {
  position: relative;

  .ad-reminder {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 3px;
    border: 1px solid #fff;
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
  }
}

.table-of-content {
  margin-top: 15px;
  list-style: none;
  margin-left: 7px;
  padding-left: 7px;

  li {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;

    ul {
      margin-left: 15px;
    }
  }
}

.toc-sidebar-tutorial {
  height: 100%;
}

@media (max-width: $width-breakpoint - 1px) {
  .toc-sidebar {
    position: fixed;
    width: 70%;
    height: 100%;
    left: -70%;
    top: 0;
    margin-top: 0 !important;
    background-color: RGB(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
}
