.back-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: $width-border solid $color-border;
  padding: 5px;
  border-radius: 3px;
  background-color: $gray-800;
  opacity: 0.5;
  color: $white !important;
  line-height: 1;
  z-index: 99;
}

@media (max-width: $width-breakpoint - 1px) {
  .back-top {
    right: 20px;
  }
}