// Spacing
//
// Copied from Bootstrap4 Beta
$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.25),
        5: ($spacer * 1.5),
        6: ($spacer * 1.75),
        7: ($spacer * 2),
        8: ($spacer * 2.25),
        9: ($spacer * 2.5),
        10: ($spacer * 3),
) !default;

// font size
$font-sizer: $spacers;

// Color system
//
// Copied from Bootstrap4 Beta
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: (
        100: $gray-100,
        200: $gray-200,
        300: $gray-300,
        400: $gray-400,
        500: $gray-500,
        600: $gray-600,
        700: $gray-700,
        800: $gray-800,
        900: $gray-900
) !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: (
        blue: $blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        teal: $teal,
        cyan: $cyan,
        white: $white,
        gray: $gray-600,
        gray-dark: $gray-800
) !default;

$theme-colors: (
        primary: $blue,
        secondary: $gray-600,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800
) !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// list group
$list-group-item-padding-y: .75rem !default;
$list-group-item-padding-x: 1.25rem !default;

//navigation-bar
$height-nav-bar: $size-base * 6;
$width-logo: $size-base * 5.0;
$margin-nav-item: 30px;

//search form
$width-search-input: 250px;

$nav-bar-search-form-input-font-size: 1.3 * $size-base;
$nav-bar-search-form-input-border-bottom: 1px;
$nav-bar-search-form-input-border-color: $color-text-muted;
$nav-bar-search-form-input-padding: 5px;

//menu
$menu-grid: 8px !default;
$menu-z-index: 96 !default;

$menu-bg: $color-background-faded !default;
$menu-color: #757575 !default;
$menu-separator: #eee !default;
$menu-item-hover: #eee !default;

$menu-link: $menu-color !default;
$menu-link-hover: #444 !default;
