<!doctype html>
{% load staticfiles %}
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 友言验证代码 -->
    <meta name="uyan_auth" content="f0b6554d43"/>
    <!-- 百度验证代码 -->
    <meta name="baidu-site-verification" content="GOgEP8c1pN"/>

    {% block description %}{% endblock description %}


    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"/>

    <title>{% block title %}追梦人物的博客{% endblock title %}</title>
    <!-- 百度统计代码 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?fb59b2a6022bccc02671a750f61c356b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- 百度自动推送链接 -->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
<header id="blog-header">
    <nav class="nav-bar">
        <div class="flex-center">
            <div class="container flex-left">
                <div class="unit-0 hide-on-mobile nav-bar-item">
                    <a href="{% url 'blog:index' %}" id="logo">追梦人物的博客</a>
                </div>
                {% block menu_btn %}{% endblock menu_btn %}
                <div class="unit-0 show-on-mobile nav-bar-item" id="home-btn">
                    <a href="{% url 'blog:index' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <div class="unit flex-right flex-middle search-area">
                    <form class="form" action="{% url 'haystack_search' %}" id="search-form">
                        <input type="search" name="q" placeholder="搜索"/>
                        <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div class="unit-0">
                    {% load notifications_tags %}
                    {% notifications_unread as unread_count %}
                    <a class="nav-bar-item" href="{% url 'notifications:all' %}" id="notification">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span class="hide-on-mobile">通知</span>
                        {% if unread_count %}
                            <span class="counter">{{ unread_count }}</span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="flex-center site-60">
    <div class="container">
        <div class="flex-left {% block flex_wrap %}flex-wrap {% endblock flex_wrap %}units-gap-big">
            {% block main %}
            {% endblock main %}
            {% block aside %}
                <aside class="unit-1-4 unit-1-on-mobile">
                    <section class="show-on-mobile recommendation-tutorials">
                        {% get_categories as category_list %}
                        <h6>推荐教程</h6>
                        <ul>
                            {% for category in category_list %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="recent-posts">
                        {% get_recent_posts as recent_post_list %}
                        <h3 class="hide-on-mobile">推荐阅读</h3>
                        <h6 class="show-on-mobile">推荐阅读</h6>
                        <ul class="list-unstyle text-small">
                            {% for post in recent_post_list %}
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            {% endfor %}
                        </ul>
                    </section>
                    <section>
                        <h3>Python 中文社区</h3>
                        <div class="top-gap">加入
                            <a href="http://www.pythonzh.cn/" target="_blank"><span class="py">Python</span><span
                                    class="zhcn">zhcn</span></a></div>
                    </section>
                    <section class="tip top-gap hide-on-mobile">
                        <h3>小提示</h3>
                        <div class="text-muted text-small favorite-tip">按 <span
                                class="favorite-shotcuts">Ctrl + D</span>
                            键，把博客加入收藏夹，随时回来查看最新文章
                        </div>
                    </section>
                    <section class="hide-on-mobile">
                        <div class="top-gap-big text-small feeds">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <a href="/all/rss">RSS</a>
                            {% comment %}
                            或
                            <a href="">Atom</a>
                            {% endcomment %}
                            订阅此博客
                        </div>
                    </section>
                </aside>
            {% endblock aside %}
        </div>
    </div>
</div>
<footer id="blog-footer">
    <div class="flex-center">
        <div>Copyright &copy; 2017 追梦人物的博客</div>
    </div>
    <div class="flex-center">
        <div>蜀ICP备 16036143号-1</div>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{% block script %}
{% endblock script %}
</body>
</html>