<!DOCTYPE html>
{% load staticfiles blog_tags notifications_tags %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if unread_count %}({{ unread_count }}) {% endif %}首页 - 追梦人物的博客</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/mobi.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

    <!-- 百度验证代码 -->
    <meta name="baidu-site-verification" content="GOgEP8c1pN"/>

    <!-- 百度统计代码 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?fb59b2a6022bccc02671a750f61c356b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- 百度自动推送链接代码 -->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body class="bg-faded">
<header>
    <nav class="flex-center bg-white nav-bar">
        <div class="container-wider flex-middle">
            {% block sidebar_btn %}{% endblock sidebar_btn %}
            <a class="unit-0 nav-bar-logo" href="{% url 'blog:index' %}">
                <img src="{% static 'blog/images/logo.png' %}" alt="">
            </a>
            <ul class="unit-0 hide-on-mobile nav-bar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:tutorials' %}">教程</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:categories' %}">分类</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:archives' %}">归档</a></li>
            </ul>
            <div class="unit flex-right">
                <form class="hide-on-mobile search-form" id="search-form" action="{% url 'haystack_search' %}">
                    <div class="flex-left">
                        <input class="unit" type="search" name="q" placeholder="搜索..."/>
                        <button class="unit-0" type="submit" role="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                <div class="musk" id="js-search-musk"></div>
                <a class="show-on-mobile nav-link mr" id="js-search-btn" href="" role="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
                <div class="notification">
                    <a class="nav-link" href="{% url 'notifications:all' %}">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>{% if unread_count %}
                        <span class="notification-count">{{ unread_count }}</span>{% endif %}
                    </a>
                </div>
                <div class="show-on-mobile">
                    <a class="nav-link" id="menu-toggle" href="#">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <ul class="menu bg-white" data-menu data-menu-toggle="#menu-toggle">
                        <li>
                            <a href="{% url 'blog:tutorials' %}">教程</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:categories' %}">分类</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:archives' %}">归档</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="flex-center">
    <div class="container-wider">
        <div class="flex-left flex-wrap units-gap-big">
            {% block main %}{% endblock main %}
            {% block side %}
                <div class="unit-1-4 unit-1-on-mobile top-gap">
                    {% comment %}
                    <div class="bg-white card donate">
                        <div class="card-header">
                            <span class="">捐助</span>
                            <a class="text-muted text-small" id="js-weixin-btn" role="button">微信</a>
                            <a class="text-muted text-small" id="js-alipay-btn" role="button">支付宝</a>
                        </div>
                        <div class="card-image donate-qr-code" id="weixin">
                            <img src="images/IMG_1055.JPG" alt="">
                        </div>
                        <div class="card-image donate-qr-code" id="alipay" style="display: none">
                            <img src="images/IMG_1056.JPG" alt="">
                        </div>
                    </div>
                    <div class="bg-white top-gap card ad">
                        <div class="card-image">
                            <a href=""><img src="images/ad.jpg" alt=""></a>
                        </div>
                        <span class="ad-reminder text-muted">广告</span>
                    </div>
                    {% endcomment %}
                    <div class="bg-white card">
                        <div class="card-header">
                            Django学习小组 QQ 群
                        </div>
                        <ul>
                            <li>415468651</li>
                            <li>415468651</li>
                        </ul>
                    </div>
                    <div class="bg-white top-gap card">
                        <div class="card-header">
                            友情链接
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</section>
<a href="" class="back-top" id="js-back-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'blog/js/menu.min.js' %}"></script>
<script src="{% static 'blog/js/blog.js' %}"></script>
<script>
    $('[data-menu]').menu();
</script>
</body>
</html>