<!DOCTYPE html>
{% load static blog_tags notifications_tags %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="baidu-site-verification" content="GOgEP8c1pN"/>
  {% block description %}{% endblock description %}

  <title>{% if unread_count %}({{ unread_count }}) {% endif %}
    {% block title %}{{ headline }}{% endblock title %}_追梦人物的博客</title>

  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
  <link rel="stylesheet" href="{% static 'blog/css/mobi.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}?v0.1">

  {% baidu_scripts %}

  <style>
    .current a {
      color: red
    }

    .pagination li {
      margin-right: 5px;
    }
  </style>
  {% block style %}{% endblock style %}
</head>
<body class="bg-faded">
<header>
  <nav class="flex-center bg-white nav-bar">
    <div class="container-wider flex-middle">
      {% block sidebar_trigger %}{% endblock sidebar_trigger %}
      <a class="nav-bar-logo" href="{% url 'blog:index' %}">
        <img src="{% static 'blog/images/logo.png' %}" alt="blog logo">
      </a>
      <ul class="unit-0 hide-on-mobile nav-bar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog:index' %}">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:tutorials' %}">教程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:categories' %}">分类</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:archives' %}">归档</a>
        </li>
      </ul>
      <div class="unit flex-right">
        <form class="hide-on-mobile flex-left flex-middle search-form" id="search-form"
              action="{% url 'haystack_search' %}">
          <input class="unit" type="search" name="q" placeholder="搜索..."/>
          <button class="unit-0" type="submit" role="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <a class="show-on-mobile nav-link" id="js-search-btn" href="#" role="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
        <div class="flex-middle notification">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'notify:notification_all' %}">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              {% if unread_count %}
                <span class="notification-count">{{ unread_count }}</span>
              {% endif %}
            </a>
          {% else %}
            <a class="nav-link" href="{% url 'account_login' %}">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
        <div class="show-on-mobile flex-middle">
          <a class="nav-link" id="menu-toggle" href="#">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </a>
          <ul class="menu bg-white" data-menu data-menu-toggle="#menu-toggle">
            <li>
              <a href="{% url 'blog:tutorials' %}">教程</a>
            </li>
            <li>
              <a href="{% url 'blog:categories' %}">分类</a>
            </li>
            <li>
              <a href="{% url 'blog:archives' %}">归档</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<section class="flex-center">
  <div class="container-wider">
    <div class="flex-left flex-wrap {% block units_gap %}units-gap-big{% endblock units_gap %}"
         style="margin-top: 60px">
      {% block main %}{% endblock main %}
      {% block side %}
        <aside class="unit-1-4 unit-1-on-mobile top-gap">
          <section class="bg-white card">
            <div class="card-header">
              Django学习小组 QQ 群
            </div>
            <ul>
              <li>645793268</li>
            </ul>
          </section>
          <section class="bg-white top-gap card">
            <div class="card-header">
              友情链接
              <ul>
                <li><a class="text-muted" target="_blank"
                       href="http://www.pythonzh.cn/">Python中文社区</a>
                </li>
              </ul>
            </div>
          </section>
        </aside>
      {% endblock side %}
    </div>
  </div>
</section>
<a href="" class="back-top" id="js-back-top"><i class="fa fa-chevron-up"
                                                aria-hidden="true"></i></a>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'blog/js/menu.min.js' %}"></script>
<script src="{% static 'blog/js/blog.js' %}"></script>
<script>
    $('[data-menu]').menu();
</script>
</body>
</html>