<div class="top-gap-big comment-list">
    {% for comment in post.root_comments %}
        <div class="flex-left" id="c{{ comment.pk }}">
            <div class="unit-0">
                <img class="comment-avatar" src="{{ comment.user.social_avatar }}"/>
            </div>
            <div class="unit">
                <div class="comment-main">
                    <header class="comment-user">
                                            <span class="text-small text-muted nickname">{{ comment.user.name }}
                                                {% if comment.user.name == "追梦人物" %}
                                                    <span class="master">[博主]</span>
                                                {% endif %}
                                            </span>
                    </header>
                    <div class="comment-body">
                        {{ comment.comment|linebreaksbr }}
                    </div>
                    <footer class="comment-footer flex-left">
                        <ul class="unit list-inline dot-divider">
                            {% comment %}
                            <li class="list-inline-item">
                                <a class="text-small text-muted up-count" href="">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i> 12</a>
                            </li>
                            {% endcomment %}
                            <li class="list-inline-item">
                                <time class="text-small text-muted">{{ comment.submit_date|timesince }}前</time>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'comments:reply' comment.pk %}"
                                   class="reply-btn text-small text-muted">回复</a>
                            </li>
                            {% comment %}
                            <li class="list-inline-item">
                                <a href="" class="comment-btn text-small text-muted">5 条评论 <i
                                        class="fa fa-angle-down"
                                        aria-hidden="true"></i></a>
                            </li>
                            {% endcomment %}
                        </ul>
                        {% comment %}
                        <a class="unit-0 flex-right edit" href="">编辑</a>
                        {% endcomment %}
                    </footer>
                </div>
                <div class="comment-descendant-list">
                    {% for child_comment in comment.get_descendants_reversely %}
                        <div class="flex-left" id="c{{ child_comment.pk }}">
                            <div class="unit-0">
                                <img class="comment-avatar" src="{{ child_comment.user.social_avatar }}"/>
                            </div>
                            <div class="unit">
                                <div class="comment-main">
                                    <header class="comment-users">
                                                    <span class="nickname text-small text-muted">{{ child_comment.user.name }}
                                                        {% if child_comment.user.name == "追梦人物" %}
                                                            <span class="master">[博主]</span>
                                                        {% endif %}
                                                    </span>
                                        <span class="reply-label text-small text-muted">
                                                        <i class="fa fa-share" aria-hidden="true"></i>
                                                    </span>
                                        <span class="nickname text-small text-muted">{{ child_comment.parent.user.name }}
                                            {% if child_comment.parent.user.name == "追梦人物" %}
                                                <span class="master">[博主]</span>
                                            {% endif %}
                                    </span>
                                    </header>
                                    <div class="comment-body">
                                        {{ child_comment.comment|linebreaksbr }}
                                    </div>
                                    <footer class="comment-footer">
                                        <ul class="list-inline dot-divider">
                                            {% comment %}
                                        <li class="list-inline-item">
                                            <a class="text-small text-muted up-count" href="">
                                                <i class="fa fa-caret-up" aria-hidden="true"></i> 89</a>
                                        </li>
                                        {% endcomment %}
                                            <li class="list-inline-item">
                                                <time class="text-small text-muted">{{ child_comment.submit_date|timesince }}前</time>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="{% url 'comments:reply' child_comment.pk %}"
                                                   class="reply-btn text-small text-muted">回复</a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>