{% extends 'base.html' %}
{% block main %}
    <main class="unit-3-4 unit-1-on-mobile">
        <section class="comment-area top-gap-big" id="comment-area">
            <div class="flex-left">
                <figure class="avatar unit-0">
                    <img src="{{ blogcomment.user.social_avatar }}" class="avatar-img"/>
                </figure>
                <div class="unit">
                    <header class="comment-header-meta">
                        <span class="nickname text-small text-muted">{{ blogcomment.user.name }}
                            {% if blogcomment.user.name == "追梦人物" %}
                                <span class="master">[博主]</span>
                            {% endif %}
                        </span>
                    </header>
                    <div class="comment-body">
                        {{ blogcomment.comment }}
                    </div>
                    <footer class="comment-footer">
                        <time class="reply-date text-small text-muted">{{ blogcomment.submit_date|timesince }}前</time>
                    </footer>
                </div>
            </div>
        </section>
        <hr class="top-gap-big">
        <h5>回复<span class=""> {{ blogcomment.user.name }} </span>的评论</h5>
        <div class="commet-form-panel top-gap">
            {% if user.is_authenticated %}
                <div class="commet-form-panel top-gap">
                    {% load comments %}
                    <form class="form comment-form" action="{% comment_form_target %}"
                          method="post">{% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                        {% endif %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <input type="hidden" name="next" value="{% url 'comments:comment_success' %}">
                        {{ form.comment.errors }}
                        {{ form.comment }}
                        {{ form.honeypot }}
                        <div class="flex-right">
                            <button class="preview-btn btn btn-success text-small" type="button"><i
                                    class="fa fa-eye"
                                    aria-hidden="true"></i> 预览
                            </button>
                            <button class="send-btn btn btn-success text-small" type="submit"><i
                                    class="fa fa-paper-plane"
                                    aria-hidden="true"></i> 发布
                            </button>
                        </div>
                    </form>
                </div>
            {% else %}
                {% load socialaccount %}
                <div class="login-panel flex-center top-gap">
                    <div>
                        <div class="login-title text-muted text-center"><span>登录后评论</span></div>
                        <div class="social-icon flex-center text-center">
                        <span class="weibo"><a
                                href="{% provider_login_url 'weibo' %}?next={{ request.path }}#comment-area"><i
                                class="fa fa-weibo"
                                aria-hidden="true"></i></a></span>
                            {% comment %}
                        <span class="weixin"><a href=""><i class="fa fa-weixin"
                                                           aria-hidden="true"></i></a></span>
                        <span class="qq"><a href=""><i class="fa fa-qq" aria-hidden="true"></i></a></span>
                        {% endcomment %}
                            <span class="github"><a
                                    href="{% provider_login_url 'github' %}?next={{ request.path }}#comment-area">
                            <i class="fa fa-github" aria-hidden="true"></i></a></span>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock main %}